 body {
      margin: 0;
      font-family: Arial, sans-serif;
      background-color: #ECEFCA;
      color: #ECEFCA;
      max-width: 1500px;
    }
    header {
      background-color: #547792;
      padding: 1rem 2rem;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
    .btn-voltar {
      background-color: #94B4C1;
      border: none;
      padding: 0.5rem 1rem;
      color: #ECEFCA;
      font-weight: bold;
      border-radius: 5px;
      cursor: pointer;
      transition: all 0.3s ease-in-out;
    }

    .btn-voltar:hover{
      background-color: #213448;
    }

    .dashboard-container {
      display: flex;
      flex-direction: column;
      gap: 2rem;
      padding: 2rem;
    }
    .indicadores {
      display: flex;
      justify-content: space-between;
      gap: 1rem;
    }
    .indicador {
      background-color: #547792;
      flex: 1;
      padding: 1rem;
      border-radius: 10px;
      text-align: center;
    }
    .grafico-container {
      background-color: #94B4C1;
      color: black;
      padding: 15px;
      border-radius: 10px;
      height: 600px;
    }