*{
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background-color: #ECEFCA;
}

.container {
    display: flex;
}

.barra-lateral {
    position: fixed;
    width: 140px;
    background-color: #213448;
    color: white;
    padding: 20px;
    height: 720px;
}

label {
    margin: 0;
}

.imgPerfil {
    position: relative;
    background-color: #94B4C1;
    width: 90px;
    height: 90px;
    border-radius: 80px;
    top: 20px;
    margin-left: auto;
    margin-right: auto;
}

.perfil {
    text-align: center;
    position: relative;
}

.perfil img {
    width: 90px;
    height: 90px;
    border-radius: 50%;
    cursor: pointer;
}

.icone-upload {
    position: absolute;
    top: 64px;
    left: 76%;
    transform: translateX(-50%);
    background-color: rgba(0, 0, 0, 0.6);
    border-radius: 100px;
    width: 30px;
    height: 30px;
    cursor: pointer;
}

.icone-upload h3 {
    margin: 0;
    position: relative;
    font-size: 16px;
    top: 6px;
}

#input-imagem {
    display: none;
}

#nome-usuario {
    margin-top: 30px
}

.perfil button {
    position: relative;
    top: 80px;
    width: 80%;
    padding: 10px;
    margin-top: 25px;
    border: none;
    background-color: #547792;
    color: white;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    border-radius: 5px;
}

.perfil button:hover {
    background-color: #94B4C1;
}

.feed {
    flex: 1;
    padding: 20px;
}

.lista-postagens {
    display: flex;
    margin-left: 220px;
    width: 80%;
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin-top: 30px;
}

.postagem {
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

.cabecalho-postagem {
    display: flex;
    align-items: center;
    padding: 12px 15px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.5);
}

.foto-usuario-postagem {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
}

.nome-usuario-postagem {
    position: relative;
    left: 10px;
}

.imagem-postagem {
    width: 100%;
    max-height: 450px;
    object-fit: cover;
}

.acoes-postagem {
    display: flex;
    gap: 15px;
    margin: 20px 0;
    margin-left: 30px;
}

.icone-curtir,
.icone-comentarios {
    font-size: 24px;
    cursor: pointer;
    transition: transform 0.2s ease-in-out;
}

.icone-curtir:hover,
.icone-comentarios:hover {
    transform: scale(1.2);
}

.comentarios {
    margin: 10px 0;
}

.input-comentario {
    position: relative;
    width: 70%;
    padding: 8px;
    border: 2px solid #547792;
    border-radius: 5px;
}

.comentarios button {
    background-color: #547792;
    color: white;
    border: none;
    padding: 8px;
    border-radius: 5px;
    cursor: pointer;
}

.comentarios button:hover {
    background-color: #94B4C1;
}

.lista-comentarios {
    margin-top: 10px;
    color: black;
    font-size: 16px;
}

.info-curtidas {
    padding: 0 15px 5px;
    font-weight: bold;
}

.legenda-postagem {
    padding: 0 15px 15px;
}

.nome-usuario-legenda {
    font-weight: bold;
    margin-right: 5px;
}

.comentarios {
    padding: 0 15px 15px;
    color: #8e8e8e;
    font-size: 14px;
}

.tempo-postagem {
    padding: 0 15px 15px;
    color: #8e8e8e;
    font-size: 12px;
    text-transform: uppercase;
}

.botao-enviar-perfil{
    position: relative;
    margin-left: auto;
    margin-right: auto;
    bottom: 400px;
    background-color: #547792;
    color: white;
    padding: 8px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    display: none;
}

/* modal post */
.janela-modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    overflow: auto;
}

.conteudo-modal {
    background-color: white;
    margin: 10% auto;
    padding: 25px;
    border-radius: 8px;
    width: 80%;
    max-width: 500px;
}

.conteudo-modal h2{
    position: relative;
    font-size: 23px;
    font-weight: bold;
    border-bottom: solid 1.5px rgba(0, 0, 0, 0.5);
    bottom: 35px;
}

.select_foto{
    position: relative;
    margin-left: auto;
    margin-right: auto;
}


.botao-fechar {
    position: relative;
    color: rgba(0, 0, 0, 0.5);
    font-size: 30px;
    font-weight: bold;
    left: 480px;
    cursor: pointer;
    bottom: 20px;
}

.botao-fechar:hover {
    color: black;
}

.botao-publicar-post {
    background-color: #547792;
    color: white;
    padding: 8px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 10px;
    display: none;
}

.botao-enviar-perfil:hover,
.botao-publicar-post:hover {
    background-color: #94B4C1;
}

.previa-postagem {
    margin-top: 10px;
    text-align: center;
}

.previa-postagem img {
    max-width: 120%;
    max-height: 280px;
    margin-bottom: 12px;
}

.campo-legenda {
    width: 100%;
    height: 100px;
    margin-top: 15px;
    padding: 10px;
    box-sizing: border-box;
    resize: none;
    border: solid 2px #547792;
    border-radius: 15px;
}

